{{ ansible_managed | comment }}

[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Restart=on-failure
ExecStart={{ node_exporter_releases_path }}/current/node_exporter \
  --web.listen-address="{{ node_exporter_web_listen_address }}"

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
